<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-outline-info' %>
<%= link_to "Delete", post_path(@post),method: :delete, data:{confirm: "Are you sure?"}, :class => 'btn btn-outline-danger'%>
<hr>
<h2>All Comments</h2>
<% @post.comments.each do |comment|%>
<div class="alert alert-light">
  <p><strong><%= comment.username %>:</strong><br><%= comment.body %></p>
</div>
<% end %>

<h3>Comment add</h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    User<br>
    <%= f.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p>
    Comment content<br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit("Post Comment",{:class =>'btn btn-outline-secondary'}) %>
  </p>
<% end %>
